# .NET build artifacts
/out
/bin
/obj
CalendarBackend/bin/
CalendarBackend/obj/

# Node.js frontend
# Node.js frontend
node_modules/
build/
dist/
.cache/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local


